
<div class="app" style="margin-top: 1px; margin-left: 1px; margin-right: 150px;" >
  
  <main class="main d-flex align-items-center">
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1><i class="icon-home"></i> Add an office </h1>
                <p class="text-muted">Create an office's account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Name" autocomplete="name" required>
                </div>
                
               
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-phone"></i></span>
                  </div>
                  <input type="tel" class="form-control" placeholder="Phone number" autocomplete="tel" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class=" icon-location-pin"></i></span>
                  </div>
                  <input type="address" class="form-control" placeholder="Address" autocomplete="address" required>
                </div>


                



                <div class="input-group mb-3">
                </div>
                <div class="input-group mb-4">
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label " for="select1"><strong> State</strong></label>
                  <div class="col-md-9">
                    <select id="select1" name="select1" class="form-control ">
                      <option value="0">Please select</option>
                  <option value="1">Ariana</option>
                  <option value="2">Ben arous</option>
                  <option value="3">La manouba</option>
                  <option value="4">Béja</option>
                  <option value="5">Bizerte</option>
                  <option value="6">Gabes</option>
                  <option value="7">Médenine</option>
                  <option value="8">Gafsa</option>
                  <option value="9">Tataouine</option>
                  <option value="10">Tozeur</option>
                  <option value="11">Sousse</option>
                  <option value="12">Siliana</option>
                  <option value="13">Sidi Bouzid</option>
                  <option value="14">Sfax</option>
                  <option value="15">Nabeul</option>
                  <option value="16">Monastir</option>
                  <option value="17">Le Kef</option>
                  <option value="19">Kébili</option>
                  <option value="20">Kasserine</option>
                  <option value="21">Kairouan</option>
                  <option value="22">Jendouba</option>
                  <option value="23">Mahdia</option>
                  <option value="24">Zaghouan</option>
                  <option value="25">Tunis</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  
                  <label class="col-md-3 col-form-label" for="date-input"><strong></strong></label>
                  <div class="col-md-9">
                   
                  </div>
                </div>
                <div class="form-group row">
                  <label><strong></strong> </label>
                  <div class="col-md-9">
                   
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" ></label>
                  <div class="col-md-9 col-form-label">
                  
                  </div>
                </div>
          
                <button type="button" class="btn btn-block btn-info text-white">Create Account</button>
                <button type="button" class="btn btn-block btn-outline-info">Cancel</button>
              </form>
            </div>




            




            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>