<div class="app"  >



<div class="row-lg-20" >
  
  <div class="col-lg-12" >
   
     
      <div class="card-body">
        <h1><i class="icon-note text-white "></i> <i class="text-white" > Add a note</i></h1>
    <form >
              <div class="form-group">
          <label for="exampleFormControlTextarea1"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write the note here" rows="10"  cols="100"></textarea>
        </div>
      </form>
      <button type="button" class="btn btn-info text-white">Submit</button>
      </div>
    </div>
  
  <!--/.col-->
