<div class="animated fadeIn " >
    <div class="col-sm-6" style="margin-top: 20px;">
              
              
        <h2 style="color: rgb(23, 119, 163)" ><strong>Notes</strong></h2>
        
      </div>   
<div class="row bootstrap snippets bootdeys">
    
    <div class="col-md-4 col-sm-6 content-card" style="padding: 50px 65px; text-align:  center;">
        
        <div class="card-big-shadow" style="max-width: 250px">
            <div class="card card-just-text " style=" border-radius: 8px;
            padding:  80px 65px;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
            background-color: #9fd4e9;
            color: #000000;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;"  data-radius="none">
            <button type="button" class="close" aria-hidden="true" onclick="deleteNote('5326bdbf5e883')" style="position: absolute;
            top: 8px; right: 15px;">×</button>
                <div class="content"  >
                    <h6 class="category " style=" text-transform: uppercase;font-size: 0.9em; color: #033194;
                    font-weight: 600;">Best cards</h6>
                    
                    <p class="description">a </p>
                </div>
            </div> <!-- end card -->
        </div>
       
      </div>
      <div class="col-md-4 col-sm-6 content-card" style="padding: 50px 65px; text-align:  center;">
        <div class="card-big-shadow" style="max-width: 250px">
            <div class="card card-just-text " style=" border-radius: 8px;
            padding:  80px 65px;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
            background-color: #f5f0c4;
            color: #000000;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;"  data-radius="none">
             <button type="button" class="close" aria-hidden="true" onclick="deleteNote('5326bdbf5e883')" style="position: absolute;
             top: 8px; right: 15px;">×</button>
                <div class="content"  >
                    <h6 class="category " style=" text-transform: uppercase;font-size: 0.9em; color: #033194;
                    font-weight: 600;">Best cards</h6>
                    
                    <p class="description">a </p>
                </div>
            </div> <!-- end card -->
        </div>
       
      </div>
      <div class="col-md-4 col-sm-6 content-card" style="padding: 50px 65px; text-align:  center;">
        <div class="card-big-shadow" style="max-width: 250px">
            <div class="card card-just-text " style=" border-radius: 8px;
            padding:  80px 65px;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
            background-color: #d3f8fd;
            color: #000000;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;"  data-radius="none">
             <button type="button" class="close" aria-hidden="true" onclick="deleteNote('5326bdbf5e883')" style="position: absolute;
             top: 8px; right: 15px;">×</button>
                <div class="content"  >
                    <h6 class="category " style=" text-transform: uppercase;font-size: 0.9em; color: #033194;
                    font-weight: 600;">Best cards</h6>
                    
                    <p class="description">a </p>
                </div>
            </div> <!-- end card -->
        </div>
       
      </div>
      <div class="col-md-4 col-sm-6 content-card" style="padding: 50px 65px; text-align:  center;">
        <div class="card-big-shadow" style="max-width: 250px">
            <div class="card card-just-text " style=" border-radius: 8px;
            padding:  80px 65px;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
            background-color: #d3cbeb;
            color: #000000;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;"  data-radius="none">
             <button type="button" class="close" aria-hidden="true" onclick="deleteNote('5326bdbf5e883')" style="position: absolute;
             top: 8px; right: 15px;">×</button>
                <div class="content"  >
                    <h6 class="category " style=" text-transform: uppercase;font-size: 0.9em; color: #033194;
                    font-weight: 600;">Best cards</h6>
                    
                    <p class="description">a </p>
                </div>
            </div> <!-- end card -->
        </div>
       
      </div>
      <div class="col-md-4 col-sm-6 content-card" style="padding: 50px 65px; text-align:  center;">
        <div class="card-big-shadow" style="max-width: 250px">
            <div class="card card-just-text " style=" border-radius: 8px;
            padding:  80px 65px;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
            background-color: #d2fad2;
            color: #000000;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;"  data-radius="none">
             <button type="button" class="close" aria-hidden="true" onclick="deleteNote('5326bdbf5e883')" style="position: absolute;
             top: 8px; right: 15px;">×</button>
                <div class="content"  >
                    <h6 class="category " style=" text-transform: uppercase;font-size: 0.9em; color: #033194;
                    font-weight: 600;">Best cards</h6>
                    
                    <p class="description">a </p>
                </div>
            </div> <!-- end card -->
        </div>
       
      </div>
      <div class="col-md-4 col-sm-6 content-card" style="padding: 50px 65px; text-align:  center;">
        <div class="card-big-shadow" style="max-width: 250px">
            <div class="card card-just-text " style=" border-radius: 8px;
            padding:  80px 65px;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
            background-color: #fdf2d8;
            color: #000000;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;"  data-radius="none">
             <button type="button" class="close" aria-hidden="true" onclick="deleteNote('5326bdbf5e883')" style="position: absolute;
             top: 8px; right: 15px;">×</button>
                <div class="content"  >
                    <h6 class="category " style=" text-transform: uppercase;font-size: 0.9em; color: #033194;
                    font-weight: 600;  ">Best cards</h6>
                    
                    <p class="description">a </p>
                </div>
            </div> <!-- end card -->
        </div>
       
      </div>



      </div>
</div>

